:host {
	width:100%;
	display:flex;
	flex-direction: row;
	gap:2px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.section:nth-child(1) {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.section:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.section {
	
	display: flex;
	flex:1;
	height: 10px;
}
.strength-easy {
	background-color: red;
}

.strength-medium {
	background-color: yellow;
}

.strength-strong {
	background-color: green;
}
.strength-none {
	background-color: #D3D3D3;
}